.header {
  height: 5.2rem;
  padding: 1rem 1rem;
  background: #333;
  h1 {
    text-align: center;
  }
  a {
    color: #ccc;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    h1 {
      color: #ccc;
      margin-left: 0.9rem;
    }
  }
}
